<%= form_for(@user) do |f| %>
  <div>
    <% if @user.errors.any? %>
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div>
    <div><%= f.label :email %></div>
    <div><%= f.text_field :email %></div>
  </div>

  <div>
    <div><%= f.label :password %></div>
    <div><%= f.password_field :password %></div>
  </div>

  <div>
    <div><%= f.label :password_confirmation %></div>
    <div><%= f.password_field :password_confirmation %></div>
  </div>
  <br>

  <br>

  <div class='actions'>
    <%= f.submit 'Submit', class:'button alert radius' %>
  </div>
<% end %>
